body {
  font-family: "Open Sans", sans-serif;
  color: #181616;
}

a {
  color: #10b7d4;
  text-decoration: none;
}

a:hover {
  color: #10b7d4;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

.hcolor {
color: #e1e9eb;
}