 /* footer */

 #footer {
    background: #0c0c0c;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
  }
  #footer .footer-top {
    padding: 60px 0 30px 0;
  }
  #footer .footer-top .footer-info {
    margin-bottom: 15px;
    background: #191919;
    color: #fff;
    border-top: 4px solid #3e9bd8;
    text-align: center;
    padding: 30px 20px;
  }
  #footer .footer-top .footer-info h3 {
    font-size: 36px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
  }
  #footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
  }
  #footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #262626;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  #footer .footer-top .social-links a:hover {
    color: #fff;
    text-decoration: none;
  }
  #footer .footer-top h4 {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    position: relative;
    padding-bottom: 12px;
  }
    
  @media (max-width: 568px) {
    #footer .footer-top .footer-info {
      margin: -20px 0 30px 0;
    }
  }